<!DOCTYPE html>
<html>
<head>
    <title>Welcome to pythonGrid</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/introjs.min.css">
    <style>
        .introjs-tooltip {
            max-width: 600px;
            width:600px;
            padding: 20px;
        }
        h4 {
            padding-bottom:15px
        }
        .footer-sticky {
            position: absolute;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            height: 60px;
            line-height: 60px; /* Vertically center the text there */
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>

{% block content %}

    <div class="container" id="gridbox">

        <h1>
            pythonGrid - An Open Source Web Datagrid for Python
        </h1>

        <p>
            The basic grid only requires two lines of code.
            <a class="btn btn-large btn-success" href="javascript:void(0);" onclick="startIntro();">Show me how it's done!</a>
        </p>

        {% block app_content %}{% endblock %}

    </div>

{% endblock %}

<div class="text-center">
    <span class="text-muted"><a href="https://pythongrid.com">pythongrid.com</a></span>
    | 
    <span class="text-muted"><a href="https://github.com/pycr/pythongrid">GitHub</a></span> &copy; 2020
</div>

<footer class="footer-sticky">
    <div class="container">
        <section class="newsletter section text-light">
            <div class="container-sm">
                <div class="newsletter-inner section-inner">
                    <div class="footer-form newsletter-form field field-grouped" style="text-align: center;display:initial !important">
                        <form action="https://www.getdrip.com/forms/251945194/submissions" method="post" class="form-inline">
                            <div class="form-group" style="whitespace:no-wrap">
                                <strong style="font-size:20px">Notify me when new features are released:</strong> 
                                <input type="email" class="form-control input" placeholder="Your email..."name="fields[email]" style="width:300px">
                                <input type="submit" ="Early access" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/intro.min.js" type="text/javascript"></script>

<script type="text/javascript">
function startIntro(){
    var intro = introJs();
    intro.setOptions({
    steps: [
        {
            element: document.querySelector('#gbox_orders'),
            intro: "<h4>A 2-line basic grid</h4> \
                    <code>\
                    grid = PythonGrid('SELECT * FROM orders', 'orderNumber', 'orders')<br /> \
                    grid.display() \
                    </code>",
            position: 'right'
        },
        {
            element: document.querySelector('.ui-jqgrid-titlebar.ui-jqgrid-caption'),
            intro: "<h4>Set datagrid title</h4><code>grid.set_caption('Orders Table')</code>",
            position: 'right'
        },
        {
            element: document.querySelector('#orders_orderNumber'),
            intro: "<h4>Change column title</h4><code>grid.set_col_title('orderNumber', 'Order #')</code>",
            position: 'right'
        },
        {
            element: document.querySelector('#orders_orderDate'),
            intro: "<h4>Change another column title</h4><code>grid.set_col_title('orderDate', 'Order Date')</code>"
        },
        {
            element: '.form-control.ui-pg-selbox',
            intro: "<h4>Set page size</h4><code>grid.set_pagesize(20)</code>",
            position: 'left'
        },
        {
            element: '.btn.ui-pg-button .fa-search',
            intro: "<h4>Toggle integrated toolbar search</h4><code>grid.enabled_search(True)</code>",
            position: 'bottom'
        },
        {
            element: '.ui-pg-div .fa-external-link',
            intro: "<h4>Enable CSV export</h4><code>grid.enable_export('CSV', 600)</code>",
            position: 'bottom'
        },
        {
            element: document.querySelector('td.jqgrid-rownum'),
            intro: "<h4>Display row number</h4><code>grid.enable_rownumbers(True)</code>",
            position: 'right'
        },
        {
            element: document.querySelectorAll('table#orders td:nth-child(6)')[1],
            intro: "<h4>Set column text align right</h4><code>grid.set_col_align('status', 'center')</code>",
            position: 'bottom'
        },
        {
            element: document.querySelectorAll('table#orders td:nth-child(7)')[1],
            intro: "<h4>Set column width</h4><code>grid.set_col_width('comments', 600)</code>",
            position: 'bottom'
        },
        {
            intro: '<div class="container-sm"> \
                    <div class="newsletter-inner section-inner"> \
                        <div class="newsletter-header text-center"> \
                            <h3 class="section-title mt-0">Plese subscribe to receive pythonGrid updates!</h3> \
                            <p class="section-paragraph">Thank you for your support!</p> \
                        </div> \
                        <div class="footer-form newsletter-form field field-grouped" style="text-align: center;display:initial !important"> \
                            <form action="https://www.getdrip.com/forms/251945194/submissions" method="post" class="form-inline"> \
                                <div class="form-group control control-expanded" style="whitespace:no-wrap"> \
                                    <input type="email" class="form-control" placeholder="Your email..."name="fields[email]" style="width:300px"> \
                                    <input type="submit" value="Subscribe" class="btn btn-primary"> \
                                </div> \
                            </form> \
                        </div> \
                    </div> \
                </div>',
            position: 'bottom'
        },
    ]
    });

    intro.start();
}
</script>

<script>
var _dcq = _dcq || [];
var _dcs = _dcs || {};
_dcs.account = '8708792';

(function() {
    var dc = document.createElement('script');
    dc.type = 'text/javascript'; dc.async = true;
    dc.src = '//tag.getdrip.com/8708792.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(dc, s);
})();

$(window).on("load", function(){
    $('#orders').jqGrid('setGridWidth', ($("#gridbox").width()));
});
</script>

</body>
</html>
