.ui-jqgrid {
	font-family: "Open Sans", "PT Serif Caption";
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border:1px #ddd solid;
}

.ui-widget-header{
	/* border: 1px solid #ddd; */
    /* color:#555; */
}


.ui-state-default, 
.ui-widget-content .ui-state-default{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	/* color:#555; */
	border-top: 1px solid #ddd;
	text-shadow: none;
}
.ui-jqgrid > .ui-jqgrid-view > .ui-jqgrid-toppager{
    padding:5px;
}
.ui-state-default.ui-jqgrid-pager.ui-corner-bottom{
    border-bottom:0;
    padding:5px;
}

.ui-widget-content{
	border:1px #ddd solid;
}

.ui-pg-table td{
	text-shadow: none !important;
}

.ui-jqgrid .ui-jqgrid-htable th div{
    top:7px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    font-size:12px;
}
.ui-jqgrid .ui-jqgrid-htable .ui-search-toolbar div{
    top:1px;
    padding: 0px !important;
    /* color:#646464; */
    margin: 0px;
}

.ui-search-input input, .ui-search-input select{
    height: 23px;
}

.ui-icon-triangle-1-s {
    background-position: -65px -16px;
}
.ui-jqgrid .ui-jqgrid-titlebar {
    padding: .7em .4em .7em 1em;
    font-size:14px;
    /* color:#555; */
    border-radius: 0px;
    width: 100%;
    text-transform: capitalize;
}
.ui-jqgrid tr.jqgrow td {
    border-bottom-style: none;
    height:25px;
}

/* IE8 got no last:child support, those users will see a slight thick right border */
.ui-jqgrid tr.jqgrow td:last-child {
    border-right-style: none;
}

.ui-jqgrid .ui-pg-table td {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}

.ui-jqgrid .ui-jqgrid-pager {
}

/* remove color opacity in alt row */
.ui-widget-content {
    color: inherit;
}

.ui-jqdialog{
    padding:0em;
    min-width:450px;
    z-index: 10000;    
    box-shadow: -8px 8px 30px #888888;
}

.ui-jqdialog-title {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    padding-left:3px;
    padding-top:1px;
}

.ui-jqdialog-titlebar{
    padding: .5em;
    border:0px;
    font-size:13px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.ui-jqdialog-content .EditTable {
    padding:0px 10px 0px 10px;
    font-size: 11px;
}

.ui-jqdialog-content .CaptionTD{
    text-align: left;
    padding:0px;
    font-size:12px;
    text-shadow: 0 1px 0 rgba(212, 228, 233, 0.9)
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    top: 1px;
}

.fm-button {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}

/* popup form nav key - fine tuning */
.ui-icon-triangle-1-e {
    background-position: -33px -16px;
}

/* fixing close icon out of position */
.ui-dialog .ui-dialog-titlebar-close span {
    margin: inherit;
}
.ui-button-icon-only .ui-icon {
    left: inherit;
}

.ui-jqgrid-htable th div{
	text-shadow: none !important;
	/* color:#555; */
    position:inherit !important;
}

.ui-jqgrid-hdiv > div > table > thead > tr{
    height:30px;
}

.ui-jqgrid-bdiv > div > table td input, ui-jqgrid .ui-jqgrid-view button {
	/* height: 100% !important; */
    min-height: 30px;
    left: -5px;

}
.ui-jqgrid-bdiv > div > table td textarea{
	height: 100% !important;  /* comment out this line for textarea to expand to full height */
	position: relative;
    left: -5px;
	top: 1px;
	border:#ddd solid 1px;
    min-height:30px;
}
.ui-jqgrid-bdiv > div > table td select{
	width: 110%;
	height: 100% !important;
	min-height: 30px !important;
	background:#fff;
	-webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius: 0px;
	-webkit-appearance:none;outline: 1px inset #ddd; outline-offset:-1px;border: 0;
	position: relative;
    left: -5px;
}
td.DataTD{
    font-size:12px;
}
td.DataTD > div.wysiwyg{
	width:94% !important;
    background:white;
}
td.DataTD > div.wysiwyg iframe{
	width:100% !important;
}


/* Edit table */
.ui-jqdialog-content table.EditTable input{
	width: 95%;
}
.ui-jqdialog-content table.EditTable input[type=checkbox]{
    width: ;
}
.ui-jqdialog-content table.EditTable select{
	width: 97%;
}
.ui-jqdialog-content table.EditTable textarea{
	width:96%;
}

/* top pager */
.ui-jqgrid-toppager .ui-pg-table td{
	padding:0px !important;
}

td.ui-sgcollapsed.sgcollapsed, td.ui-sgcollapsed.sgexpanded{
	background: #ccc;	
}

/* display colored icon during inline edit because this theme has white background */
div.ui-pg-div.ui-inline-edit > span.ui-icon, 
div.ui-pg-div.ui-inline-del > span.ui-icon, 
div.ui-pg-div.ui-inline-save > span.ui-icon,
div.ui-pg-div.ui-inline-cancel > span.ui-icon,
.ui-icon.ui-icon-circlesmall-minus.tree-wrap-ltr, .ui-icon.ui-icon-circlesmall-plus.tree-wrap-ltr{
    background-image: url(images/ui-icons_469bdd_256x240.png);
}

.ui-jqdialog-title{
    /* color:#555; */
    text-shadow: none;
}

.ui-jqgrid .ui-pg-table .ui-pg-input,
.ui-jqgrid .ui-pg-table .ui-pg-selbox {
    /* color: #646464; */
}

.ui-widget-header .ui-icon,
.ui-state-default .ui-icon{
    background-image: url('images/ui-icons_222222_256x240.png');
}
.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default{
    border-bottom:1px solid #ddd;
}
.ui-jqgrid .ui-jqgrid-bdiv tr.ui-row-ltr:not(.jqgfirstrow) > td:not(.subgrid-data):not(.sgexpanded):not(.sgcollapsed){
    border-bottom:1px solid #ddd;
    padding:15px;
    /* color:#555; */
}
.ui-jqgrid .s-ico {
    padding-left:5px;
}
.ui-jqgrid .s-ico > .ui-icon-desc.ui-icon.ui-sort-ltr{
    margin-left:-3px;
}
.ui-jqgrid tr.jqgrow > td, .ui-jqgrid tr.jqgroup > td, .ui-jqgrid tr.jqfoot > td{
    font-size:12px;
}
.ui-jqgrid-jquery-ui.ui-jqgrid tr.footrow-ltr td {
    border-color: inherit;
    height: 45px;
    padding-left: 15px;
    font-size: larger;
}
.ui-jqgrid-labels .ui-th-column-header, .ui-jqgrid .ui-jqgrid-labels th.ui-th-column{
    text-align: left;
    padding:5px 1px 5px 13px;
}
.ui-jqdialog .ui-jqdialog-titlebar{
    padding:12px 12px;
    font-size:15px;
    margin-bottom: 5px;
    border-bottom:1px solid #ddd;
}
.ui-corner-all{
    border-radius: 0;
    -webkit-border-radius: 0;
}
.ui-state-default.ui-th-column.ui-th-ltr.jqgh_cbox{
    padding-left:4px !important;
}
.ui-jqgrid .jqgrow > td.td_cbox{
    padding-left: 6px !important;
}
.ui-widget-content.jqgrow.ui-row-ltr .ui-sgcollapsed.sgcollapsed,
.ui-widget-content.jqgrow.ui-row-ltr .ui-sgcollapsed.sgexpanded{
    padding: 0;
}

.ui-jqgrid .ui-jqgrid-caption .ui-jqgrid-title, .ui-jqdialog .ui-jqdialog-titlebar-ltr .ui-jqdialog-title{
    font-size:large;
}

tr.ui-jqgrid-labels.ui-sortable th:last-child{
    border: 0 none;
}

body{margin: 0px}

/* remove extra padding around autocomplete in form */ 
.select2-container.FormElement.form-control {
    padding: 0;
    height: 100%;
}