{% extends "base.html" %}

{% block app_content %}

    <h1>PythonGrid</h1>

    <a href="/basic">Basic datagrid</a> |
    <a href="/caption">Datagrid caption</a> |
    <a href="/column_title">Change column title</a> |
    <a href="/column_hidden">Hide Column(s)</a> |
    <a href="/page_size">Set pagination size to 25 per page</a> |
    <a href="/dimension">Datagrid dimension</a> |
    <a href="/search">Integrated search</a> |
    <a href="/row_numer">Enable row number</a> |
    <a href="/column_width">Set column width</a> |
    <a href="/column_align">Set column text align</a>|
    <a href="/all">All properties demo</a>

{% endblock %}