name: wafsg-OtherApplicationGatewayResourcesOnePrivateIpAddress
title: Define Application Gateway subnet size
description: Application Gateway needs a dedicated subnet within a virtual network.
  The subnet can have multiple instances of the deployed Application Gateway resource.
  You can also deploy other Application Gateway resources in that subnet, v1 or v2
  SKU.Here are some considerations for defining the subnet size:- Application Gateway
  uses one private IP address per instance and another private IP address if a private
  front-end IP is configured.- Azure reserves five IP addresses in each subnet for
  internal use.- Application Gateway (Standard or WAF SKU) can support up to 32 instances.
  Taking 32 instance IP addresses + 1 private front-end IP + 5 Azure reserved, a minimum
  subnet size of /26 is recommended. Because the Standard_v2 or WAF_v2 SKU can support
  up to 125 instances, using the same calculation, a subnet size of /24 is recommended.-
  If you want to deploy additional Application Gateway resources in the same subnet,
  consider the additional IP addresses that will be required for their maximum instance
  count for both, Standard and Standard v2.
source:
  type: wafsg
  file: ./checklists-ext/wafsg_checklist.en.json
resourceTypes:
- microsoft.network/applicationGateways
waf: Performance
labels:
  guid: 6d9985b2-103c-4b47-82b9-148e22af311b
links: []
queries: {}
