name: Get WAF service guide recommendations
on:
    # schedule:
    #     - cron: '0 0 * * 0'  # every Sunday at midnight
    workflow_dispatch:
jobs:
  get-waf-service-guides:
    runs-on: ubuntu-latest
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    # Get service guide recos
    - name: Retrieve the WAF service guides
      uses: ./.github/actions/get_service_guides
      with:
        services: 'Azure Kubernetes Service, Azure Firewall, ExpressRoute'
        output_file: './checklists-ext/wafsg_checklist.en.json'
        verbose: 'true'
    # Create a PR
    - name: Create pull request
      uses: peter-evans/create-pull-request@v3.10.1
      with:
        title: 'Latest version of the WAF service guides retrieved'
        body: 'This PR contains the latest changes in the WAF service guide recommendations.'
        token: ${{ secrets.WORKFLOW_PAT }}
