name: Get the-aks-checklist
on:
    schedule:
        - cron: '0 0 * * 0'  # every Sunday at midnight
    workflow_dispatch:
jobs:
  get-theakschecklist:
    runs-on: ubuntu-latest
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    # Get the AKS checklist
    - name: Retrieve the AKS checklist
      uses: ./.github/actions/get_the_aks_checklist
      with:
        output_file: './checklists-ext/theaks_checklist.en.json'
        checklist_file: './checklists/aks_checklist.en.json'
        verbose: 'true'
    # Create a PR
    - name: Create pull request
      uses: peter-evans/create-pull-request@v3.10.1
      with:
        title: 'Latest version of the AKS checklist retrieved'
        body: 'This PR is to retrieve the latest version of the-AKS-checklist.'
        token: ${{ secrets.WORKFLOW_PAT }}
