---
name: Lint Code Base
env:
  VALIDATE_JSON: true
on:
  push:
    branches-ignore: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    name: Lint Code Base
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          # Full git history is needed to get a proper list of changed files within `super-linter`
          fetch-depth: 0
      - name: Lint Code Base for JSON correctness
        uses: github/super-linter/slim@v4
        env:
          VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Check that GUIDs are unique
        id: checklistlint
        uses: erjosito/review-checklist-lint@v0.42
        with:
          file_extension: 'en.json'
          key_name: 'guid'
          criteria_key: '.metadata.state'  # Remove these last two lines to check all checklists (and not only those in preview)
          criteria_value: 'GA'             # Remove these last two lines to check all checklists (and not only those in preview)
